

<div class="jumbotron">
  <h1 class="display-4">Blog</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>
<hr>
<h1>Postagens recentes</h1>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h1>{{titulo}}</h1>
            <h3>Categoria: {{descricao}}</h3>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais...</button></a>
            <hr>
            <small>{{categoria.nome}}</small><br>                        
            <small>Date de criação: {{data}}</small><br>      
        </div> 
    </div>
{{else}}
{{/each}}