<h2>{{categoria.nome}}</h2>
{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h1>{{titulo}}</h1>
            <h3>Categoria: {{descricao}}</h3>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais...</button></a>
            <hr>                                
            <small>Date de criação: {{data}}</small><br>      
        </div> 
    </div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}